@model List<UserStoryListModel>
@using shareurstorydb;
@using PagedList;
@using shareyourstory.net.Controllers.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserProfile currentUser = (UserProfile)ViewBag.CurrentUser;
    ViewBag.Title = "People you follow";
}

<h2>People you follow</h2>

<div class="containerTitleMenu containerTitleMenuActive" id="menu1" onclick="story.toggleSection(1);">
    <div class="containerTitleText">Favorites</div>
</div>
<div class="containerTitleMenu" id="menu2" onclick="story.toggleSection(2);">
    <div class="containerTitleText">Followed</div>
</div>


@foreach (UserStoryListModel item in Model)
{
    <div>
        @item.StoryTitle.ToString()
    </div>
}

