@model List<UserStoryListModel>
@using shareurstorydb;  
@using PagedList;
@using shareyourstory.net.Controllers.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserProfile currentUser = (UserProfile)ViewBag.CurrentUser;
    ViewBag.Title = "People you follow";
}

<h2>People you follow</h2>

@foreach (UserStoryListModel item in Model)
{
    <div>
        @item.StoryTitle.ToString()
    </div> 
}

