@{
    string errorMsg = "";
    string display = "none";
    if (ViewData["ErrorMsg"] != null)
    {
        errorMsg = ViewData["ErrorMsg"].ToString();
        display = "block";
    }
    Session["ErrorMsg"] = null;
        
}
<div style="width:100%; display:@display">
    <div id="error"><div class="errorInner">
        <span style="font-weight:bold">There was a problem while loading the page: </span>
        @errorMsg
    </div></div>
</div>

